@media screen and (max-width: 750px) {
    .quickmenu{
        flex-direction: column !important;
    }
    .header{
        margin-left: 20px !important;
        margin-top: 50px !important;
        word-break: break-all;  
        text-align: center;
        font-size: small;
    } 
    .container{
        padding: 0px !important;
    }

    .input-group{
        width: 100%;
        margin: 0px !important;
    }
    .account_profile{
        top: 5px !important;
        right: 10px !important;
    }
    .gradiant_bottom{
        display: block !important;
    }
}

html{
    background-color: #191919;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #191919;
}

.spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
    0% { transform: scale(0); }
    100% { transform: scale(1); opacity: 0; }
}

.adv{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
    margin-bottom: 10px;
    transition: max-height 0.3s ease-out, opacity 0.2s ease-out;
    overflow: hidden;
    max-height: 0;
}

.rotated {
    transform: rotate(180deg);
}

#angle-down{
    margin-left: 5px;
    font-size: 30px;
    min-width: 35px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;
}

#angle-down:hover{
    color:rgb(0, 38, 255);
    cursor: pointer;
    
}

.dark-mode #angle-down:hover{
    color: white;
    background-color: rgb(77, 77, 77, 0.6) !important;
}

.status-light{
    min-width: 25px;
}

body {
    display: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    font-family: "Nunito";
    display: flex;
    background-color: #191919;
    color: #fff;
}

.status-light{
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    border-width: 1px;
    border: solid;
    border-color: rgba(255, 255, 255, 0.5);
}

.dark-mode .status-light{
    border-color: rgba(0, 0, 0, 0.35);
}

#content-img{
    position: relative;
    justify-content: center;
}

#image-container{
    position: relative;
}

.text-container{
    position:absolute;
    left: 15px;
    color: white;
}

.text-container p{
    text-shadow: 3px 3px 3px #000;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

.dark-mode  .bar1{
    background-color: white;
}   

.dark-mode  .bar2{
    background-color: white;
}   

.dark-mode  .bar3{
    background-color: white;
}   

.quickmenu .quickmenu-button {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    pointer-events: none;
}

.quickmenu.show .quickmenu-button {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}
  
.header a{
    z-index: 5;
}

:hover.submit-button{
    color:rgb(0, 38, 255) !important;
}

:hover.reveal-button{
    color:rgb(0, 38, 255) !important;
}

.dark-mode :hover.submit-button{
    background-color: rgb(77, 77, 77, 0.6) !important;
}

.dark-mode :hover.reveal-button{
    background-color: rgb(77, 77, 77, 0.6) !important;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.slider-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;    
}

.slider{
    appearance: none;
    width: 100%;
    border-radius: 20px;
    border-color: rgba(1, 1, 1, .5);
    border-style: solid;
    border-width: 2px;
    height: 10px;
    opacity: 0.7;
    -webkit-transition: .3s;
    transition: opacity .3s;
}

.slider:hover {
    opacity: 1;
  }
  

.dark-mode .slider{
    border-color: rgba(128, 128, 128, 0.3);
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 20px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    background: rgb(175, 175, 175);
    cursor: pointer;
}

.dark-mode .slider::-webkit-slider-thumb {
    border-color: rgba(0, 0, 0, 0.5);
}

.slider::-moz-range-thumb {
    appearance: none;
    width: 25px;
    height: 20px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    background: rgb(175, 175, 175);
    cursor: pointer;
}

.slidecontainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.slidecontainer p{
    margin: 0px;
}

.header h1 {
    margin: 0;
}

.header button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #000;
}

.quickmenu{
    display: flex;   
}

:hover .icon{
    cursor: pointer;
}

.header a {
    margin-left: 10px;
}

.header-title-small{
    margin: 0;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 10px 20px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container form.hide {
    display: none;
}

.container #image-container {
    display: flex;
    align-items: center;
    min-height: 200px;
}

.container #image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    max-height: 400px;
}

.container #text-file-container {
    margin-top: 20px;
    text-align: center;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: 14px;
}

.container #reveal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    transition: ease-in-out 0.3s;
    cursor: pointer;

}

.input-group .input-field {
    border-radius: 8px;
    border-width: 2px;
    border-color: rgba(1, 1, 1, .5);
    border-style: solid;
    margin: 1px;
    width: 350px;
    padding: 5px;
    background-color: transparent;
    text-align: center;

}

.datetop{
    position: absolute;
    top: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 0 5px;
    margin-top: 3px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-img{
    align-items: center !important;
}

.dark-mode .input-group .input-field{
    color: white;
    border-color: rgba(128, 128, 128, 0.3);
}

.dark-mode i{
    color: white;
}

.input-group {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 40px;
}

.input-group label {
    margin-right: 10px;
    text-align: center;
}


#content-img{
    display: flex;
}

.content{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.container #image-container{
    border-radius: 20px;
}

.container #image-container img{
    border-radius: 20px;
}


#image-container img {
    max-width: 100%;
    max-height: 400px;
}

#barChart {
    display: flex;
    box-sizing: border-box;
    align-items: end;
    margin-right: 10px;
    position: absolute;
    z-index: 5;
    right: 0px;
}

#content-img{
    border-radius: 20px;
    overflow: hidden;
}

.camlinktop{
    background: rgba(111, 111, 111, 0.5);
    text-decoration: none;
    color: white;
    width: 35px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    transition: 0.3s ease-in-out;
}

.camlinktop:hover{
    background: rgba(111, 111, 111, 0.8);
}

.camlink{
    position: absolute;
    top:0px;
    left:0px;
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
    padding: 5px 10px 10px 5px;
    border-bottom-right-radius: 20px;
}

.archive_btn{
    position:absolute;
    left:0px;
    bottom:0px;
    background: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-top-right-radius: 20px;
}


#toomanyrequests{
    position: fixed;
    top: 60px;
    color: red;
    text-align: center;
  }

  #invalidkey{
    color: red;
    text-align: center;
  }

  .quickmenu-button[disabled] {
    cursor: default;
}

.backbutton{
    margin-left: 5px;
    font-size: 31px;
    min-width: 35px;
    width: 35px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;
    text-decoration: none;
    color: white;
    padding-top: 4px;
}

.backbutton:hover{
    background: rgba(255, 255, 255, 0.1);
}

.diagram {
    width: 100%;
    max-width: 100vw;
    border-radius: 20px;
    margin-top: 15px;
    position: relative;
    border-bottom-left-radius: 0px;
    overflow: hidden;
}

#diagram, #diagram > * {
    width: 100% !important;
    height: 100% !important;
}

.account_profile{
    position: fixed;
    flex-direction: column;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: #333;
    padding: 2px 5px;
    border-radius: 10px;
    cursor: pointer;
}


#account_name{
    margin:0;
}

.account_profile_upper{
    display: flex;
    gap: 10px;
}

#logout_button{
    cursor:pointer;
}

.gradiant_bottom{
    display: none;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgb(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    pointer-events: none;
}